<h1>Editing Author</h1>

<%= render 'form', author: @author %>

<br>
<%= link_to 'Edit', edit_author_path(@author),
  class: "btn btn-outline-warning btn-sm"%>
<%= link_to 'Back', books_path, class: "btn btn-sm btn-outline-primary" %>
