<br>
<h1>Editing <u><%= @book.title %></u></h1>

<%= render 'form', book: @book %>

<br>
<%= link_to 'Edit', edit_book_path(@book),
  class: "btn btn-outline-warning btn-sm"%>
<%= link_to 'Back', books_path, class: "btn btn-sm btn-outline-primary" %>
