<br>
<h2>Editing <i><%= @book.title %></i></h2>

<%= render 'form', book: @book %>

<br>
<%= link_to 'Edit', edit_book_path(@book),
  class: "btn btn-outline-warning btn-sm"%>
<%= link_to 'Back', books_path, class: "btn btn-sm btn-outline-primary" %>
