@import 'bootstrap';

.table td {
  vertical-align: middle;
}

.table td + td, .table th + th {
  padding-left: 0.5rem;
}

.table th {
  white-space: nowrap;
  text-align: center;
}

.table hr {
  margin: 5px 0 5px 0;
}

td .btn {
  white-space: normal;
  text-align: left;
}
